{% extends "base.html" %}

{% block content %}
        <h1>Build-A-Blog</h1>
        <hr />


        {% if not posts %}
            <p>Add a post!</p>
        {% elif posts.count() == 1 %}
            <h2>{{posts[0].title}}</h2>
            <p>{{posts[0].content}}</p>
            <div>
                <a href='./blog?user={{posts[0].id}}'>Author: {{posts[0].email}}</a>
                Posted On: {{posts[0].date_of_pub}}
            </div>
        {% else %}  
            <ul>
                {% for post in posts %}
                <h2><a href='./blog?id={{post[1]}}'>{{post.title}}</a></h2>
                <p>{{post.content}}</p>
                <div>
                    <a href='./blog?user={{post.id}}'>Author: {{post.email}}</a>
                    Posted On: {{post.date_of_pub}}
                </div>
                    
                {% endfor %}
            </ul>
        {% endif %}

           
{% endblock %}    
