 html{
     background-color: white;
 }
 
 body {
     background-color: lightcyan;
     margin: 5% 10%;
     padding: 2%;
     border-style: solid;
     border-radius: 10px;
 }

 h1, h2, p, div {
     text-align: center;
 }

 a {
     text-decoration: none;
 }

 a:link, a:visited {
     color: black;
 }

 a:hover {
     font-size: 1.2em;
 }
 form {
     width: 50%;
     margin: 0 0 0 40%;
 }